@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Urbanist:wght@300&display=swap');

body {
    text-align: center;
    font-family: 'Acme', sans-serif, 'Oswald', sans-serif, 'Urbanist', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 30px;
 }

 header{
     margin-bottom: 50px;
 }

 #logo-image, .title, #game-rules {
    display: inline;
    align-items: center;
}

 #game-rules {
    float: right;
    padding:15px;
    background:#FC52FF;
    border:2px solid;
    border-color: #7BFF2B;
    border-radius: 30px;
    color:rgb(255, 255, 255);
    text-transform:uppercase;
    font-weight: bolder;
    cursor: pointer;
  } 

 .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:rgb(24, 23, 23);
    color: #FC52FF;
    font-size: larger;
    width:95%;
    max-width:500px;
    height:250px;
    text-align:center;
    padding:28px;
    box-sizing:border-box;
    border-radius: 20px 5px;
  }

  .popup .content .game-description {
    margin-top: 40px;
  }
   
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    color:#fff;
    font-size:35px;
    font-weight:600;
    line-height:30px;
    text-align:center;
  }

  .popup {
    display: none;
} 
   
  .popup.active {
    display:block;
  } 
   
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }

#logo-image {
    width: 90px;
    height: 90px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 40px;
    margin-left: 30px;
}

.button-div {
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    border-style: dotted;
    border-color: #7BFF2B;
}

.button-image {
    margin: 0;
    padding: 0;
    width: 230px;
    height: 95px;
    align-items: center;
}

#higher-button{
    /* margin-top: 45px; */
    margin-left: 30%;
    margin-right: 30%;
    background-color:#38b6ffab;
    border: 3px solid #FC52FF;
    border-radius: 30px;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

#higher-button:hover {
    background-color: #7BFF2B;
}

#play-button {
    background-color: black;
    border: black;
    border-style: none;
}
#play-button img{
    height: 120px;
    cursor: pointer;
}

#random-number {
    font-size: 60px;
    display: inline-block;
    margin: 20px;
}

#lower-button{
    margin-bottom: 45px;
    margin-left: 30%;
    margin-right: 30%;
    background-color:#38b6ffab;
    border: 3px solid #FC52FF;
    border-radius: 30px;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

#lower-button:hover {
    background-color: #7BFF2B;
}

h2 {
    font-size: 45px;
    margin: 10px;
}

.score {
    font-size: 30px;
    margin: 0;
    padding: 5px;
    display:inline-block;
}

#score-total {
    color: #7BFF2B;
}

#box {
    background-color: rgb(209, 135, 238);
    width: 450px;
    height: 180px;
    border-radius: 10px;
    position: absolute;
    top: 38%;
    left: 35%;
    display: none;
}

#box h1 {
    margin: 5px;
    padding: 10px;

}
#box p {
    margin: 5px;
    padding: 10px;
    display: block;
}

.play-game {
    margin: 5px;
    background-color: #38B6FF;
    border: 1px solid #FC52FF;
    padding: 10px 20px;
    display: inline-block;
    width: 150px;
    cursor: pointer;
}


