@import url('https://fonts.googleapis.com/css2?family=Acme&family=Oswald&family=Urbanist:wght@300&display=swap');

body {
    text-align: center;
    font-family: 'Acme', sans-serif, 'Oswald', sans-serif, 'Urbanist', sans-serif;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
 }

#logo-image {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 45px;
    margin: 10px;
}

.button-div {
    /* background-color: rgba(164, 203, 221, 0.432); */
    width: 700px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    border-style: dotted;
    border-color: #7BFF2B
}

.button-image {
    margin: 0;
    padding: 0;
    width: 230px;
    height: 100px;
    align-items: center;
}

/* button {
    background-color:#38b6ffab;
    border: 3px solid #FC52FF;
    border-radius: 30px;
    width: 300px;
    height: 100px;
    cursor: pointer;
} */

#higher-button{
    margin-top: 45px;
    margin-left: 30%;
    margin-right: 30%;
    background-color:#38b6ffab;
    border: 3px solid #FC52FF;
    border-radius: 30px;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

#higher-button:hover {
    background-color: #7BFF2B;
}

#lower-button{
    margin-bottom: 45px;
    margin-left: 30%;
    margin-right: 30%;
    background-color:#38b6ffab;
    border: 3px solid #FC52FF;
    border-radius: 30px;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

#lower-button:hover {
    background-color: #7BFF2B;
}

h2 {
    font-size: 45px;
    margin: 10px;
}

.score {
    font-size: 40px;
    margin: 0;
    padding: 5px;
    display:inline-block;
}

#score-total {
    color: #7BFF2B;
}
#play img{
    height: 140px;
    margin: auto;
    cursor: pointer;
}

#box {
    background-color: rgb(209, 135, 238);
    width: 450px;
    height: 180px;
    border-radius: 10px;
    position: absolute;
    top: 38%;
    left: 35%;
    display: none;
}

#box h1 {
    margin: 5px;
    padding: 10px;

}
#box p {
    margin: 5px;
    padding: 10px;
    display: block;
}

.play-game {
    margin: 5px;
    background-color: #38B6FF;
    border: 1px solid #FC52FF;
    padding: 10px 20px;
    display: inline-block;
    width: 150px;
    cursor: pointer;
}


